.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 62px;
  width: 100%;
  background-color: #63688A;
  height: 62px;
  z-index: 9999;
}
.navbar__notification::after{
  content: '•';
  margin-left: -7px;
  color: green;
  font-size: 34px;
}

.navbar__search {
  box-sizing: border-box;
  background-color: #fff;
  opacity: .3;
  height: 25px;
  width: 200px;
  border-radius: 2em;
  border: none;
  outline: none;
  padding: 10px;
}

.navbar__search::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 15px;
}

.navbar__user {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 33px;
  width: 90px;
  background-color: #000;
  border-radius: 3rem;
}

.navbar__dropdown span {
  margin-left: 5px;
}

.navbar__notification {
  margin-right: 10px;
}


@media screen and (max-width: 600px) {
  .sidebar,.navbar__search {
    display: none;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}