* {
  font-family: 'Baloo Tammudu 2', cursive;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #ECF1FA;
  box-sizing: border-box;
  color: #C3CBD5;
  font-size: 16px;
  line-height: 1;

}
.content__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav li{
list-style: none;
}
.text--bold {
  font-weight: 700;
}

.text--medium {
  font-weight: 500;
}

.text--semibold {
  font-weight: 600;
}

.text--regular {
  font-weight: 400;
}

.text--big {
  font-size: 24px;
}
.text--med {
  font-size: 17px;
}
.text--med {
  font-size: 17px;
}
